{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Charset -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="icon" href="img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
        {% block page_title %}
            Последние обновления на сайте
        {% endblock %}
    </title>
  </head>
  <body>
    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- Content -->
    <main>
        <div class="container py-5">
        {% block content %}
            {% block title %}
                <h1>Home</h1>
            {% endblock %}
            No posts
        {% endblock %}
        </div>
    </main>
    <!-- Footer -->
    {% include 'includes/footer.html' %}
  </body>
</html>